<!DOCTYPE html>
<html>
<head>
  <title>Weather NetTwerk</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Weather Net<span id="twerk">Twerk</span></h1>
  <div class="search-wrapper">
    <input type="text" id="query"/>
    <button id="srchBtn" class="btn btn-primary">Search</button>
    <ul class="search-results">
    </ul>
  </div>
  <div class="selectedCountry">
  </div>
</body>
</html>